footer {
    background-color: color("gray-dark");
    min-height: 100px;
    font-size: 0.9rem;
    color: $light;

    h3 {
        font-size: 1.2rem;
        &:after {
            content: "";
            display: block;
            height: 1px;
            background-color: $light;
            max-width: 50%;
            margin-top: $spacer * 0.5;
            margin-bottom: $spacer * 0.5
        }
    }

    a {
        color: $light;
    }
}
